# 📦 Node.js
node_modules/

# 📱 Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
*.expo
expo-env.d.ts

# 📦 Build outputs
build/
*.apk
*.aab

# ⚙️ Android
android/

# ⚙️ iOS
ios/

# 🔧 Metro bundler
.metro-cache/
.metro-health-check/

# 💻 macOS
.DS_Store

# 🔐 Chaves, certificados e provisionamento
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# 🧪 Logs e depuração
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# 🔒 Variáveis de ambiente
.env
.env.*
.env*.local

# 🧼 Outros arquivos temporários
*.orig.*
*.tsbuildinfo

# ⚙️ Android Studio / Kotlin
.kotlin/
.idea/

# VSCode extensions cache
.vscode/.react/
